body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

.logo {
  text-decoration: none;
}

.dark {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.light {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.nav-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-list {
  list-style: none;
}
.contacts-link {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.fon {
  background: #2e2f42;
}
.title {
  color: #ffffff;
}
.btn {
  font-size: 16px; /* з макета */
  font-weight: 500; /* з макета */
  line-height: 1.5; /* множник, розрахований із макета */
  letter-spacing: 0.04em; /* з макета */
  color: #ffffff; /* текст */
  background: #4d5ae5; /* фон */
  border: none;
  border-radius: 4px; /* закруглення */
  padding: 16px 32px; /* відступи всередині */
  cursor: pointer; /* pointer для кнопки */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15); /* тінь */
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.features-list {
  list-style: none;
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-item-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team__title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team__list {
  list-style: none;
}
.team-name {
  color: #2e2f42;
}
.team-role {
  color: #434455;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  list-style: none;
}
.portfolio-subtitle {
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.light-footer {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
